@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */

 .radiusoutline{
    border-radius: 15px;
 }

 .copybox {
    color: white;
 }
.aluminum {
    display: block;
    width: auto;
    margin-right: 250px;
    margin-left: 250px;
    outline: red solid 1px;
    background-color: #69E2FF;



}
.aluminumtwo {
    display: block;
    width: auto;
    margin-right: 250px;
    margin-left: 250px;
   background-color: #4183c4;

}

.graphicline {

}

.title {
    color: white;

}

.title2 {
    color: white;
}
.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * GENERAL
 */

img {max-width:100;}

body {
    transition: opacity .25s ease;
}